@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전체 화면 설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

#root {
  height: 100%;
  width: 100%;
  min-width: 1000px;
  min-height: 800px;
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --default-font-family: "Pretendard", Helvetica;
  --default-font-size: 19px;
  --default-font-style: normal;
  --default-font-weight: 500;
  --default-letter-spacing: -0.20900000452995302px;
  --default-line-height: 200%;
  --variable-collection-bg: rgba(0, 0, 0, 0.2);
  --variable-collection-color: rgba(255, 0, 0, 1);
}

/* SmallVideoList custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 366px;
  border-radius: 2.744px;
  background: #272E51;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #272E51;
  border-radius: 2.744px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #B3C8FD;
  border-radius: 6.402px;
  min-height: 24px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8faee6;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #B3C8FD #272E51;
}
